---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
const title = "Blog";

import { getCollection } from "astro:content";

const posts = await getCollection("blog", (post) => {
  return import.meta.env.PROD ? post.data.isDraft !== true : true;
});
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <ul class="grid gap-4">
      {
        posts.map((post) => (
          <li>
            <Card
              href={`/blog/${post.slug}`}
              title={post.data.title}
              body={post.data.description}
              footer={post.data.datePublished.toDateString()}
            />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
