---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
const title = "Blog";

import { getCollection } from "astro:content";

const posts = (
  await getCollection("blog", (post) => {
    return import.meta.env.PROD ? post.data.isDraft !== true : true;
  })
).sort(
  (a, b) =>
    new Date(b.data.datePublished).getTime() -
    new Date(a.data.datePublished).getTime()
);
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <ul class="grid gap-4">
      {
        posts.map(
          (post: {
            id: any;
            data: {
              title: string;
              description: string;
              datePublished: { toDateString: () => string | undefined };
            };
          }) => (
            <li>
              <Card
                href={`/blog/${post.id}`}
                title={post.data.title}
                body={post.data.description}
                footer={post.data.datePublished.toDateString()}
              />
            </li>
          )
        )
      }
    </ul>
  </main>
</Layout>
