---
interface Props {
  title: string;
  href: string;
  body: string;
  category: string;
  id: string;
}

const { href, title, body, category, id } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="link-fav flex flex-col no-underline items-stretch h-full p-3"
>
  <h3 id={title} class="inline external-link">{title}</h3>
  <p class="flex-1 font-normal" style="font-family: var(--font-family-serif)">
    {body}
  </p>
  <img
    class="transition ease-in-out rounded bg-[#fff] py-2 px-8"
    src={`./${category.replace(/\s+/g, "").replace(/[^a-zA-Z]/g, "-")}/${id}.jpg`}
    alt=" "
  /></a
>

<style>
  .link-fav {
    @apply transition ease-in-out rounded-md;
    border: solid 1px
      color-mix(in lab, var(--color-midground), var(--color-background) 90%);

    &:hover {
      background-color: color-mix(
        in lab,
        var(--color-midground),
        var(--color-background) 90%
      );
    }

    p {
      font-size: 0.875rem;
      color: color-mix(
        in lab,
        var(--color-midground),
        var(--color-foreground) 33%
      );
    }
  }
</style>
